name: "Android Kit Pull Request Checks"
on: 
  workflow_call:
jobs:
  pr-branch-confirmation:
      name: "Confirm that target branch for PR is main or master"
      runs-on: ubuntu-18.04
      steps:
          - name: "Set PR title validity"
            id: is-valid
            if: >
                startsWith(github.event.pull_request.base.ref, 'master')||
                startsWith(github.event.pull_request.base.ref, 'main')
            run: |
                OUTPUT=true
                echo "::set-output name=isValid::$OUTPUT"
          - name: "Echo isValid"
            run: |
                echo ${{ steps.is-valid.outputs.isValid }}
          - name: "PR title is valid"
            if: ${{steps.is-valid.outputs.isValid == 'true'}}
            run: |
                echo 'Pull request target branch is valid.'
                echo ${{ steps.is-valid.outputs.isValid }}
          - name: "PR title is invalid"
            if: ${{ steps.is-valid.outputs.isValid != 'true'}}
            run: |
                echo ${{ steps.is-valid.outputs.isValid }}
                echo 'Pull request target branch is not valid.'
                exit 1
  unit-tests:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          path: kit
          ref: ${{github.head_ref}}
      - name: "Checkout Core"
        uses: actions/checkout@v2
        with:
          repository: mParticle/android-sdk
          fetch-depth: 0
          path: core
          ref: development
      - name: "Install JDK 11"
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
      - name: "Build Core"
        working-directory: core
        run: ./gradlew publishLocal
      - name: "Get Build Version"
        id: core-version
        run: |
          ANDROID_CORE_DIR=`find  ~/.m2 -type d -name android-core`;
          echo "android-core m2 directory:"
          echo $ANDROID_CORE_DIR;
          VERSION_DIR=`find $ANDROID_CORE_DIR -type d -name *-SNAPSHOT`;
          echo "android-core m2 version directory:"
          echo $VERSION_DIR;
          VERSION=`basename $VERSION_DIR`;
          echo "android-core m2 version:";
          echo $VERSION;
          echo "::set-output name=coreVersion::$VERSION"
      - name: "Clean and Run Unit Tests"
        uses: eskatos/gradle-command-action@v1
        with:
          gradle-version: 7.2
          build-root-directory: kit
          arguments: clean assemble test -Pversion=${{ steps.core-version.outputs.coreVersion }}
      - name: "Archive Test Results"
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: "unit-tests-results"
          path: ./**/build/reports/**
  lint:
    name: "Lint Checks"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          path: kit
          ref: ${{github.head_ref}}
      - name: "Checkout Core"
        uses: actions/checkout@v2
        with:
          repository: mParticle/android-sdk
          fetch-depth: 0
          path: core
          ref: development
      - name: "Install JDK 11"
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
      - name: "Build Core"
        working-directory: core
        run: ./gradlew publishLocal
      - name: "Get Build Version"
        id: core-version
        run: |
          ANDROID_CORE_DIR=`find  ~/.m2 -type d -name android-core`;
          echo "android-core m2 directory:"
          echo $ANDROID_CORE_DIR;
          VERSION_DIR=`find $ANDROID_CORE_DIR -type d -name *-SNAPSHOT`;
          echo "android-core m2 version directory:"
          echo $VERSION_DIR;
          VERSION=`basename $VERSION_DIR`;
          echo "android-core m2 version:";
          echo $VERSION;
          echo "::set-output name=coreVersion::$VERSION"
      - name: "Run Lint Checks"
        uses: eskatos/gradle-command-action@v1
        with:
          gradle-version: 7.2
          build-root-directory: kit
          arguments: lint -Pversion=${{ steps.core-version.outputs.coreVersion }}
      - name: "Archive Lint Results"
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: "lint-checks-results"
          path: ./**/build/reports/**
  automerge:
    name: "Automerge Dependabot PR"
    needs: [unit-tests, lint]
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request_target' }}
    runs-on: ubuntu-latest
    steps:
      - name: "Rebase Dependabot PR"
        uses: actions/github-script@v3
        with:
          script: |
            github.pulls.merge({
                owner: context.repo.owner,
                repo: context.payload.repository.name,
                pull_number: context.payload.pull_request.number,
                merge_method: 'rebase'
            });