name: "Semantic Release Repo & Branch Check"
on:
  workflow_call:
jobs:
  # SDK release must be done from the public/master or public/main branch
  confirm-public-repo-master-branch:
    name: Confirm release is run on public/master or public/main branch
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Repo and Branch Check
        run: |
          BRANCHNAME=${GITHUB_REF##*/}
          if (( $BRANCHNAME != "master" && $BRANCHNAME != "main" ))
          then
            echo "You can only run a release from the master or main branch, you are trying to run it from ${BRANCHNAME}"
            exit 1
          fi
          if (( ${{github.event.repository.name}} == "*internal*" ))
          then
            echo "You can only run a release from the public repository of the SDK, you are trying to run it from ${{github.event.repository.name}}"
            exit 1
          fi
